@model List<Movie>
<!doctype html>
<html lang="zxx">
<body>
    <!-- main-slider -->
    <section class="w3l-main-slider position-relative" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <h3>Отмъстителите: Краят</h3>
                                <p>
                                    2019 г. ‧ Екшън/Сай-фай ‧ 3 ч 2 мин
                                </p>
                                <a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Гледай Трейлър</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/358205676" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <h3>Замръзналото Кралство 2</h3>
                                <p>
                                    2019 г. ‧ Семеен/Приключенски ‧ 1 ч 43 мин
                                </p>
                                <a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Гледай Трейлър</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/395376850" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <h3>Жокера</h3>
                                <p>
                                    2019 г. ‧ Трилър/Драма ‧ 2 ч 2 мин
                                </p>
                                <a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Гледай Трейлър</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/389969665" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <h3>Аладин</h3>
                                <p>
                                    2019 г. ‧ Мюзикъл/Фентъзи ‧ 2 ч 8 мин
                                </p>
                                <a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Гледай Трейлър</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/323491174" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-slider-->
    <!-- main-slider -->
    <!--grids-sec1-->
    <section class="w3l-grids">
        <div class="grids-main py-5">
            <div class="container py-lg-3">
                <div class="headerhny-title">
                    <div class="w3l-title-grids">
                        <div class="headerhny-left">
                            <h3 class="hny-title">Популярни</h3>
                        </div>
                        <div class="headerhny-right text-lg-right">
                            <h4><a class="show-title" href="~/Movie/Index">Виж още</a></h4>
                        </div>
                    </div>
                </div>
                <div class="w3l-populohny-grids">
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a asp-action="Details" asp-controller="Movie" asp-route-id="28">
                                <figure>
                                    <img class="img-fluid" src="~/assets/images/n1.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">Бонд 25</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 ч 43 мин

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a asp-action="Details" asp-controller="Movie" asp-route-id="29">
                                <figure>
                                    <img class="img-fluid" src="~/assets/images/m3.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">Вади ножовете</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 ч 10 мин

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a asp-action="Details" asp-controller="Movie" asp-route-id="30">
                                <figure>
                                    <img class="img-fluid" src="~/assets/images/m4.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">Малки жени</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 ч 15 мин

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a asp-controller="Movie" asp-action="Details" asp-route-id="27">
                                <figure>
                                    <img class="img-fluid" src="~/assets/images/m5.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">Джуманджи: Следващото Ниво</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2ч 3мин

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//grids-sec1-->
    <!--grids-sec2-->
    <section class="w3l-grids">
        <div class="grids-main py-5">
            <div class="container py-lg-3">
                <div class="headerhny-title">
                    <div class="headerhny-left">
                        <h3 class="hny-title text-center">Още Филми</h3>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="owl-three owl-carousel owl-theme">

                        @foreach (var item in Model)
                        {
                            if (item != null)
                            {
                                <div style="width:200px;">
                                    <div class="item vhny-grid">
                                        <div class="box16 mb-0">
                                            <a asp-controller="Movie" asp-action="Details" asp-route-id="@item.Id">
                                                <figure>
                                                    <img class="img-genre" src="@Url.Content(item.ImageURL)" alt="">
                                                </figure>
                                                <div class="box-content">
                                                    <h4>
                                                        <span class="post">
                                                            <i class="fa fa-film"> </i> @item.Category

                                                        </span>

                                                        <span class="post fa fa-television text-right"></span>
                                                    </h4>
                                                </div>
                                                <span class="fa fa-shopping-cart" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        <h3> <a class="title-gd" href="~/Movie/Details/@item.Id">@item.Title</a></h3>

                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>

        </div>
    </section>
    <!--grids-sec2-->
    <!--mid-slider -->
    <section class="w3l-mid-slider position-relative">
        <div class="companies20-content">
            <div class="owl-mid owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info mid-view bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <span class="sub-text">Комедия</span>
                                    <h3>Джуманджи: Следващото Ниво</h3>
                                    <p>2019 ‧ Комедия/Екшън ‧ 2ч 3мин</p>
                                    <a class="watch" href="~/Movie/Details/27">
                                        <span class="fa fa-shopping-bag"
                                              aria-hidden="true"></span>
                                        Купи Сега
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info mid-view mid-top1 bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <span class="sub-text">Приключенски</span>
                                    <h3>Дулитъл</h3>
                                    <p>2020 ‧ Семеен/Приключенски ‧ 1ч 41мин</p>
                                    <a class="watch" href="~/Movie/Details/31">
                                        <span class="fa fa-shopping-bag"
                                              aria-hidden="true"></span>
                                        Купи сега
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info mid-view mid-top2 bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <span class="sub-text">Екшън</span>
                                    <h3>Лоши Момчета до Живот</h3>
                                    <p>2020 ‧ Комедия/Екшън ‧ 2ч 4мин</p>
                                    <a class="watch" href="~/Movie/Details/32">
                                        <span class="fa fa-shopping-bag"
                                              aria-hidden="true"></span>
                                        Купи Сега
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <!-- //mid-slider-->
</body>
</html>
