@model Producer

@{
    ViewData["Title"] = "Delete producer";
}

<<section class="w3l-loginhny py-5">
    <div class="container py-lg-3">
        <div class="w3l-hny-login">
            <div class="w3l-hny-login-info" style="max-width:700px;">
                <h1 class="text-center">Изтрий продуцент</h1>
                <div style="border-style:groove; border-radius:9px; border-color: deeppink;">
                    <div class="form-group text-center">
                        <img class="border-info rounded-circle" style="max-width: 150px" src="@Url.Content(Model.ProfilePictureURL)" />
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label"> Снимка</label>
                            <input asp-for="ProfilePictureURL" type="file" name="ProfilePictureURL" id="ProfilePictureURL" class="form-control" />
                            <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Име</label>
                            <input asp-for="FullName" type="text" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Биография</label>
                            <input asp-for="Biography" type="text" class="form-control" />
                            <span asp-validation-for="Biography" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <form asp-controller="Producer" asp-action="Delete" asp-route-id="@Model.Id">
                            <button type="submit" class="btn read-button btn-login" style="margin-top:0px;">Изтрий</button>
                        </form>
                        <hr />
                        <form asp-controller="Producer" asp-action="Details" asp-route-id="@Model.Id">
                            <button type="submit" class="btn read-button btn-login" style="margin-top:0px;">Отказ</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Producer" asp-action="Details" asp-route-id="@Model.Id">
                            <button type="submit" class="btn read-button btn-login" style="margin-top:0px;">Отказ</button>
                        </form>
                    }
                </div>
            </div>
        </div>
</section>