@model SNBMovies.Models.ViewModels.ProducerVMs.CreateProducerVM

@{
    ViewData["Title"] = "Update producer";
}

<section class="w3l-loginhny py-5">
    <div class="container py-lg-3">
        <div class="w3l-hny-login">
            <div class="w3l-hny-login-info" style="max-width:700px;">
                <h1 class="text-center">Промени продуцент</h1>
                <div style="border-style:groove; border-radius:9px; border-color: deeppink;">
                    <form asp-action="Update" method="post" class="text-left" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"> Снимка</label>
                                <input asp-for="ProfilePictureURL" type="file" name="ProfilePictureURL" class="form-control" />
                                <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label"> Име</label>
                                <input asp-for="FullName" type="text" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label"> Биография</label>
                                <input asp-for="Biography" type="text" class="form-control" />
                                <span asp-validation-for="Biography" class="text-danger"></span>
                            </div>
                            <div class="submithny text-center mt-4">
                                <button type="submit" class="btn read-button btn-login" style="margin-top:0px;">Промени</button>
                            </div>
                    </form>
                </div>
                <hr />
                <form asp-controller="Producer" asp-action="Index">
                    <button type="submit" class="btn read-button btn-login" style="margin-top:0px;">Отказ</button>
                </form>
            </div>
        </div>
    </div>
</section>