<section class="w3l-contact-1">
	<div class="contacts-9 py-5">
		<div class="container py-lg-4">
			<div class="headerhny-title text-center">
				<h2 class="sub-title text-center">Грешка!</h2>
			</div>
			<div class="row">
				<div class="col-md-6 offset-3 alert alert-danger text-center">
					<h2>Нямате достъп до тази страница!</h2>
					<p>Моля, натиснете бутона, за да се върнете в началната страница.</p>
					<hr />
					<p>
						<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">Начало</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
