@using SNBMovies.Models.ViewModels;
@model RegisterVM;

@{
    ViewData["Title"] = "Sign up for a new account";
}

<!doctype html>
<html lang="zxx">
<body>
    <!--/breadcrumbs -->
    <div class="w3l-breadcrumbs">
        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper">
                <a href="~/Home/Index">Начало</a> » <span class="breadcrumb_last" aria-current="page">Регистрация</span>
            </div>
        </nav>
    </div>
    <!--//breadcrumbs -->
    <section class="w3l-loginhny py-5">
        <!-- login -->
        <div class="container py-lg-3">
            <div class="w3l-hny-login">
                <div class="w3l-hny-login-info">
                    <h2>Регистрация на акаунт</h2>
                    <form asp-action="Register" method="post">
                        <label>Име</label>
                        <div class="input-group">
                            <input asp-for="FullName" type="text" name="FullName" placeholder="" required="" autofocus="" fdprocessedid="n8z3l">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <label>Имейл</label>
                        <div class="input-group">
                            <input asp-for="EmailAddress" type="email" name="EmailAddress" placeholder="" required="" fdprocessedid="1mhd3p">
                            @if (TempData["Error"] != null && TempData["ErrorLocation"].ToString() == "usedEmail")
                            {
                                <span class="text-danger">@TempData["Error"]</span>
                            }
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <label>Парола</label>
                        <div class="input-group">
                            <input asp-for="Password" type="Password" name="Password" placeholder="" required="" autofocus="" fdprocessedid="n8z3l">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <label>Потвърди паролата</label>
                        <div class="input-group">
                            <input asp-for="ConfirmPassword" type="Password" name="ConfirmPassword" placeholder="" required="" fdprocessedid="1mhd3p">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button class="btn read-button btn-login" type="submit" fdprocessedid="bxoc1">Регистрация</button>
                    </form>
                    <p class="account1">Имаш вече акаунт? <a asp-controller="Account" asp-action="Login">Влез</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>