@model ApplicationUser

<!--/breadcrumbs -->
<div class="w3l-breadcrumbs">
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="~/Home/Index">Начало</a> » <span class="breadcrumb_last" aria-current="page">Профил</span>
        </div>
    </nav>
</div>
<!--//breadcrumbs -->

<section class="w3l-loginhny py-5">
    <div class="container py-lg-3">
        <div class="w3l-hny-login">
            <div class="w3l-hny-login-info" style="max-width:700px;">
                <h2>Информация</h2>
                <div style="border-style:groove; border-radius:9px; border-color: deeppink;">
                    <label class="col-5">Име:</label>
                    <div class="input-group col-12">
                        <label><i class="fa fa-user"></i> @Model.FullName</label>
                    </div>
                    <label class="col-5">Имейл:</label>
                    <div class="input-group col-12">
                        <label><i class="fa fa-address-book"></i> @Model.Email</label>
                    </div>
                    @if (Model.PhoneNumber != null)
                    {
                        <label class="col-5">Телефонен  номер:</label>
                        <div class="input-group col-12">
                            <label><i class="fa fa-mobile-phone"></i> @Model.PhoneNumber</label>
                        </div>
                    }
                    else
                    {
                        <label class="col-5">Телефонен  номер:</label>
                        <div class="input-group col-12">
                            <label><i class="fa fa-mobile-phone"></i> Няма въведен телефонен номер!</label>
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <label class="col-5">Потребители:</label>
                        <div class="input-group col-12">
                            <label><a asp-controller="Account" asp-action="Index">Списък на потребителите.</a></label>
                        </div>
                    }
                    <form asp-controller="ShoppingCart" asp-action="Index">
                        <button type="submit" class="btn read-button btn-login">История на покупките</button>
                    </form>
                </div>
                <hr />
                <form asp-controller="Account" asp-action="EditProfile" method="get">
                    <button type="submit" class="btn read-button btn-login" style="margin-top:0px;">Промени информация</button>
                </form>
            </div>
        </div>
    </div>
</section>