<!--/breadcrumbs -->
<div class="w3l-breadcrumbs">
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="~/Home/Index">Начало</a> » <span class="breadcrumb_last" aria-current="page">Край!</span>
        </div>
    </nav>
</div>
<!--//breadcrumbs -->
<section class="w3l-contact-1">
    <div class="contacts-9 py-5">
        <div class="container py-lg-4">
            <div class="headerhny-title text-center">
                <h4 class="sub-title text-center">Край!</h4>
            </div>
            <div class="contact-view mt-lg-5 mt-4">
                <div class="conhny-form-section text-center align-content-center">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            <h1 class="text-info">Търсенето Ви е неуспешно!</h1>
                            <hr />
                            <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Върнете се в началото!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>